body {
  background-color: #f5f5f5; /* clear gray */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333; /* Dark text color */
}
.content {
  background-color: #fff; /* white */
  padding: 20px; 
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.dropdown-container {
<<<<<<< HEAD
  background-color: #f5f5f5;  
}
=======
  background-color: #f5f5f5; 
 
}


>>>>>>> 27c50ea (Updated calculator and background)
h1 {
  color: #333;
  text-align: center;
}
p {
  color: #333;
}
a {
  display: block;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: #007bff; /* Change color on hover */
}
/* Dropdown button container */
.dropdown-container {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
}
/* Dropdown button */
.dropbtn {
  background-color: #010102;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* Dropdown container (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
/* Show the dropdown container on hover */
.dropdown-container:hover .dropdown-content {
  display: block;
}
